div#navegacao a {
    text-decoration: none;
    color: #000000;
}

div#navegacao a:hover{
    text-decoration: none;
    color: #ff0000;
}

section a.back {
    text-decoration: none;
    color: #000000;   
}

section a.back:hover {
    color: #ff0000;
}

div img#first_image {
    height: 300px;
    margin-left: 25%;
}

section img {
    height: 200px;
    float: left;
}